
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
a{
    text-decoration: none;
}
.resturant-section
{
  height: 60vh;
  width: 100%;
  position: relative;
}
.img-section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
   
  }
  .img-section img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
  }
  .linear {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0,
      transparent 60%,
      rgba(0, 0, 0, 0.8)
    );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
.resturant-info{
 position: absolute;
 bottom: 15px;
 left: 3rem;
 min-width: 450px;
 height:200px; 
 display: flex;
 gap: 20px;
}
.resturant-logo{
  height: 100%;
  width: 200px;
  position: relative;
}
.resturant-logo img{
  height: 100%;
  width: 100%;
}
.resturant-details{
  color: white;
  padding-top: 40px;
}
.resturant-name{
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.icon{
  margin-right: 10px;
}
.icon1{
  margin-right: 4px;
}

.resturant-location{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.resturant-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.minimum-order{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.service-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.changeProfile{
  position: absolute;
  bottom: 0;
  right: 3rem;
  padding: 7px 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.changeBackgroundImgOption{
  position: absolute;
  bottom: 80px;
  right: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  visibility: hidden;
}
.changeProfileImgOption{
  position: absolute;
  bottom:5rem;
  left:0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  visibility: hidden;
}
.uploadImgBtn{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 40px;
  border-style: none;
  font-size: 1.4rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.deleteImgBtn{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 40px;
  border-style: none;
  font-size: 1.4rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.uploadImgBtn:hover{
  background-color: #d4d4d4;
}
.deleteImgBtn:hover{
  background-color: #d4d4d4;
}
.changeBackground{
  position: absolute;
  bottom: 40px;
  right: 3rem;
  background-color:white;
  display: flex;
  padding: 2px 4px;
  align-items: center;
  gap: 4px;
  border-radius: 3px;
  cursor: pointer;
}