@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
a{
    text-decoration: none;
}
.resturant-section
{
  height: 60vh;
  width: 100%;
  position: relative;
}
.resturant-info{
 position: absolute;
 bottom: 15px;
 left: 3rem;
 min-width: 450px;
 height:200px; 
 display: flex;
 gap: 20px;
}
.resturant-logo{
  height: 100%;
  width: 200px;
}
.resturant-logo img{
  height: 100%;
  width: 100%;
}
.resturant-details{
  color: white;
  
}
.resturant-name{
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.icon{
  margin-right: 10px;
}
.icon1{
  margin-right: 4px;
}

.resturant-location{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.resturant-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.minimum-order{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.service-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
/* search-rate-favorite-section */
.search-rate-favorite-section{
  max-width: 130rem;
  margin: 20px auto;
  padding: 10px 0;
}
.favorite-btn1{
  border: 1px solid #bfbfbf;
  font-size: 1.8rem;
  padding: 7px 20px;
  display: flex;
  align-items: center;
}
.rate-btn{
  border: 1px solid #bfbfbf;
  font-size: 1.8rem;
  padding: 7px 15px;
  display: flex;
  align-items: center;
}
.favorite-btn1,.rate-btn ion-icon{
  color: #828181;
}
.food-menu-category{
  max-width: 130rem;
  margin: 20px auto;
  display: flex;
  gap: 30px;
  align-items:top;
}
.food-category{
  display: flex;
  flex-direction: column;
  width: 10%;
}
.food-menu-box{
  width: 90%;
}
.food-menu{
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding: 30px 0;
  margin-bottom: 20px;
}
.category-title{
  font-size: 1.8rem;
  color: #FF7F00;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.food-category ul{
  display: flex;
  flex-direction: column;
  padding-left: 0!important;
}
.food-category-links{
  border-bottom: 1px solid #bfbfbf;
  padding: 5px 5px;
}
.food-category-links a{
  color: black;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.food-category-links a:hover{
  padding-left: 8px;
  color: #FF7F00;
}
/* for food list */
.for-food-list{
  width: 25rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.for-food-list:hover{
  background-color: white;
}
.for-food-img{
  width: 25rem;
  height: 20rem;
}
.for-food-img img{
  width: 100%;
  height: 100%;
}
.for-food-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food-name{
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.food-price{
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.add-to-cart-btn{
  border: none;
  border-radius: 5px;
  color:white;
  background-color: #FF7F00;
  font-size: 1.4rem;
  padding: 3px 20px;
  margin-bottom: 1rem;
}
.categoryName{
  font-size: 2.2rem;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}