
.active1{
  color: #FF7F00;
  text-decoration: underline;
}
.user-rating-value{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-rating-value p{
  letter-spacing: 0.5px;
}
.for-user-rating{
  position: absolute;
  bottom: 10px;
  right: 80px;
  z-index: 1;
  background-color:#fff;
  padding: 1.5rem;
  border-radius: 5px;
  display: none;
}
.for-user-rating p{
  text-align: right;
}
.rating-close-btn{
  border: none;
  background: none;
  font-size: 1.2rem;
}
.for-user-rating h5{
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 0.7px;
}
.for-user-rating form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.resturant-section
{
  height: 60vh;
  width: 100%;
  position: relative;
}
.resturant-info{
 position: absolute;
 bottom: 15px;
 left: 3rem;
 min-width: 450px;
 height:200px; 
 display: flex;
 gap: 20px;
}
.resturant-logo{
  height: 100%;
  width: 200px;
}
.resturant-logo img{
  height: 100%;
  width: 100%;
}
.resturant-details{
  color: white;
  
}
.resturant-name{
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.icon{
  margin-right: 10px;
}
.icon1{
  margin-right: 4px;
}

.resturant-location{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.resturant-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.minimum-order{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.service-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
/* search-rate-favorite-section */
.search-rate-favorite-section{
  max-width: 130rem;
  margin: 20px auto;
  padding: 10px 0;
}
.restaurant-features-link{
  border: none;
  background:none;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-right: 1rem;
}
.restaurant-features-link:hover{
  color:#FF7F00;
}
.favorite-btn1{
  border: 1px solid #bfbfbf;
  font-size: 1.8rem;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rate-btn{
  border: 1px solid #bfbfbf;
  font-size: 1.8rem;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.favorite-btn1,.rate-btn ion-icon{
  color: #828181;
}
.multiple-div{
  max-width: 130rem;
  margin: 20px auto;
  position: relative;
}
/* food-menu-category */
.food-menu-category{
  width: 100%;
  display: flex;
  gap: 30px;
  align-items:top;
  position: absolute;

}
.food-category{
  display: flex;
  flex-direction: column;
  width: 10%;
}
.food-menu-box{
  width: 90%;
}
.food-menu{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #d8d9db;
}
.category-title{
  font-size: 1.8rem;
  color: #FF7F00;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.food-category ul{
  display: flex;
  flex-direction: column;
  padding-left: 0!important;
}
.food-category-links{
  border-bottom: 1px solid #bfbfbf;
  padding: 5px 5px;
}
.food-category-links a{
  color: black;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.food-category-links a:hover{
  padding-left: 8px;
  color: #FF7F00;
}
/* for food list */
.for-food-list{
  border: 1px solid #d8d9db;
  border-radius: 5px;
  overflow: hidden!important;
  width: 25rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.for-food-list:hover{
  background-color: white;
}
.for-food-img{
  width: 25rem;
  height: 15rem;
  position: relative;
}
.discount-tag{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color:#E67A00;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 5px 10px;
  width: 100px;
}
.for-food-img img{
  width: 100%;
  height: 100%;
}
.for-food-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.food-name{
  font-size: 1.6rem;
  margin-bottom: 0.5rem!important;
}
.food-price{
  font-size: 1.6rem;
  margin-bottom: 0.8rem!important;
  font-weight: 500;
}
/* restaurant-photo-gallary */
.restaurant-photo-gallary{
  width: 100%;
  position: absolute;
  visibility: hidden;
}
.main-posts {
  position: relative;
  z-index: 6;
  padding: 3rem;
}

.post-masonry {
  margin-bottom: 30px;
}

.post-masonry .post-thumb {
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
}

.post-masonry .post-thumb img {
  width: 100%;
  display: block;
}

.post-masonry .post-thumb .title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.9);
  padding: 15px 20px;
}

.post-masonry .post-thumb .title-over p {
  font-size: 16px;
  color: #fff;
  font-weight: 300!important;
  font-family: 'Roboto', sans-serif;
}

.post-masonry .post-thumb .post-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.9);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}


.post-masonry .post-thumb .post-hover h4 {
  font-size: 16px;
  font-family: 'robotoregular';
  margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
  color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
  display: block;
  margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
  font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
  font-size: 12px;
  margin-bottom: 15px;
  display: block;
}
/* restaurant-customer-review */
.customer-review-and-write-review{
  display: flex;
}
.restaurant-customer-review {
  width: 100%;
  position: absolute;
  visibility: hidden;
}
/* customer message collection */
.customer-review-collection{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  width: 50%;
}
.customer-review-box{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.customer-review-img-name{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0!important;
}
.customer-review-letter{
  width: 3.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: #fff;
  background-color: #FF7F00;
  font-weight: 500;
}
.customer-review-name{
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}
.customer-review-rate-date{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.star-display{
  font-size: 1.6rem;
}
.customer-review-rate{
 gap: 4px;
}
.customer-review-date{
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.customer-review-message{
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.write-review{
  width: 50%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 2rem;
  position: sticky;
}
.write-review-text{
  font-size: 1.6rem;
  letter-spacing: 1px;
}
/* take rating */
.rating1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rating {
  position: relative;
  line-height: 10px;
  font-size: 2rem;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
  margin-right:3px!important ;
}

.rating label:last-child .icon {
  color: #8b8b8b;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffcd02;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #8b8b8b;
  text-shadow: 0 0 5px #ffcd02;
}
.form2{
  width: 60rem;
}
/* add to cart */
.add-to-cart-btn{
  border: none;
  border-radius: 5px;
  color:white;
  background-color: #FF7F00;
  font-size: 1.4rem;
  padding: 3px 20px;
  margin-bottom: 1rem!important;
}
.added-to-cart-btn{
  border: none;
  border-radius: 5px;
  color:white;
  background-color:rgb(180, 12, 12);
  font-size: 1.4rem;
  padding: 3px 20px;
  margin-bottom: 1rem;
}
.categoryName{
  font-size: 2.2rem;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}
/* for cart */
.for-fixed-cart{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 91;
}
.for-fixed-cart button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #FF7F00;
  border-radius: 50%;
  color: white;
  font-size: 2.4rem;
  padding: 15px 15px;
  cursor: pointer;
}
.for-fixed-cart button:hover{
  background-color: #ffa64d;
}
.cart-and-edit-box{
  position: fixed;
  z-index: 91;
  bottom: 90px;
  right: 20px;
  width: 450px;
  display: none;
}
.funnyBox1{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}
.funnyBox1 img{
  height: 100%;
  width: 100%;
}
.cart-box{
  width: 450px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.blur-box1{
  position: absolute;
  top: 0;
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 90;
}
.my-cart-text{
    font-size: 1.6rem;
}
.for-empty-cart{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.empty-cart-text1{
  font-size: 1.6rem;
  margin-bottom: 0!important;
}
.empty-cart-text2{
  font-size: 1.6rem;
  margin-top: 0!important;
  color: #828181;
}
.hidden{
  visibility: hidden;
}
.for-fixed-edit-food1{
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: none;
}
.for-changing-quantity{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 20px;
}
.message
{
  color: #9F1D22;
  font-size: 1.4rem;
}
