
.user-section
{
    max-width: 130rem;
    margin: 0 auto;
}
.user-nav-links{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.user-links{
    display: flex;
    align-items: center;
    gap: 40px;
}
.user-link{
    border: none;
    background:none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
}
.user-link:hover{
    color:#FF7F00;
}
.user-section-div
{
    min-height: 30rem !important; 
   position: relative;
}
.user-profile{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: none;
}
/* user purchase history */
.user-order-history{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: block;
}
.user-order-history h2{
    color: rgb(76, 76, 76);
    font-weight: 500;
    letter-spacing: 0.8px;
}
/* user favorite */
.user-favorite{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: none;
}
.user-favorite h2{
    color: rgb(76, 76, 76);
    font-weight: 500;
    letter-spacing: 0.8px;
}
.user-favorite-main-div{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.favorite-restaurant-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.favorite-restaurant-logo{
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
}
.favorite-restaurant-logo img{
  height: 100%;
  width: 100%;
}
.favorite-restaurant-detial{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: left;
}
.favorite-restaurant-name{
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 0!important;
}
.favorite-restaurant-address-and-cuisine{
    font-size: 1rem;
    color: rgb(142, 142, 142);
    letter-spacing: 1px;
    margin-bottom: 0!important;

}
.favorite-remove-btn{
    cursor: pointer;
    background: none;
    border: none;
    border-radius:50% ;
    margin-left: 1rem;
    font-size: 1.8rem;
    padding: 2px 3px;
    display: flex;
    align-items: center;
}
.favorite-remove-btn:hover{
    background-color: rgb(233, 233, 233);
}
