
.About-Section-header
{
  height: 40vh;
  width: 100%;
  position: relative;
  
}
.text-about{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active1{
  color: #FF7F00;
  text-decoration: underline;
}
.blur-box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    visibility: hidden;
  }
.user-section
{
    max-width: 130rem;
    margin: 0 auto;
}
.user-nav-links{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.user-links{
    display: flex;
    align-items: center;
    gap: 40px;
}
.user-link{
    border: none;
    background:none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
}
.user-link:hover{
    color:#FF7F00;
}
.user-section-div
{
    min-height: 50rem !important; 
   position: relative;
}
/* user profile ////////////////////////*/
.user-profile{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: block;
}
.user-profile h2{
  color: rgb(76, 76, 76);
  font-weight: 500;
  letter-spacing: 0.8px;
}
.user-profile-main-div{
    max-width:40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-img h1{
  font-size: 5rem;
  background-color: rgb(173, 153, 37);
  border-radius: 50%;
  width: 80px;
  padding: 10px 0;
  text-align: center;
  color: white;
}
.user-information{
  width: 100%;
  margin-top: 20px;
}
.saveCancelBtn{
  visibility: hidden;
  display: flex!important;
  gap: 20px;
}
/* user purchase history */
.user-order-history{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: none;
}
.user-order-history h2{
    color: rgb(76, 76, 76);
    font-weight: 500;
    letter-spacing: 0.8px;
}
/* user favorite */
.user-favorite{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: none;
}
.user-favorite h2{
    color: rgb(76, 76, 76);
    font-weight: 500;
    letter-spacing: 0.8px;
}
.user-favorite-main-div{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.favorite-restaurant-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.favorite-restaurant-logo{
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
}
.favorite-restaurant-logo img{
  height: 100%;
  width: 100%;
}
.favorite-restaurant-detial{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: left;
}
.favorite-restaurant-name{
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 0!important;
}
.favorite-restaurant-address-and-cuisine{
    font-size: 1rem;
    color: rgb(142, 142, 142);
    letter-spacing: 1px;
    margin-bottom: 0!important;

}
.favorite-remove-btn{
    cursor: pointer;
    background: none;
    border: none;
    border-radius:50% ;
    margin-left: 1rem;
    font-size: 1.8rem;
    padding: 2px 3px;
    display: flex;
    align-items: center;
}
.favorite-remove-btn:hover{
    background-color: rgb(233, 233, 233);
}
/* popup box */
.view-order-detail{
    border:1px solid #939292;
    position: fixed;
    z-index: 99;
    margin:180px 600px;
    background-color: #ffffff;
    visibility: hidden;
  }
  .food-order-box{
    width: 38rem;
    padding: 2rem;
  }
  .order-time-and-user-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .order-time{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.2rem;
  }
  .order-count{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0!important;
  }
  .contact-name{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #8a8988;
    margin-bottom: 0!important;
  }
  .contact-info{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #8a8988;
    margin-bottom: 0!important;
  }
  .food-delivery-time{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #8a8988;
    margin-bottom: 0!important;
  }
  .user-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgoldenrod;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  .user-text h2{
    color: white;
    font-size: 2.8rem;
  }
  .order-food-section{
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .order-food-img{
    background-color: #ced4da;
    width: 12rem;
    height: 10rem;
    border-radius: 10px;
    overflow: hidden;
  }
  .order-food-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .order-food-detail{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    border-bottom:1px solid  #b6b6b6 ;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .order-food-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0!important;
    letter-spacing: 1px;
    gap: 0.5rem;
  }
  .order-food-type{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #5c5c5c;
    margin-bottom: 0.3rem!important;
  }
  .order-food-quantity-price{
    display: flex;
    gap: 8rem;
  }
  .order-food-price{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0!important;
    letter-spacing: 1px;
  }
  .order-food-quantity{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0!important;
    letter-spacing: 1px;
  }
  /* my order */
  .my-order{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: none;
  }
  .my-order-main-box{
    width: 100%;
  }
  .my-order-main-box h2{
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    border-bottom:1px solid #d8d9db;
  }
  .user-order-food-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .order-food-section1{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 40rem;
  }
  .order-food-img1 img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .order-food-detail{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    border-bottom:1px solid  #b6b6b6 ;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .order-food-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0!important;
    letter-spacing: 1px;
    gap: 0.5rem;
  }
  .order-food-type{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #5c5c5c;
    margin-bottom: 0.3rem!important;
  }
  .order-food-quantity-price{
    display: flex;
    gap: 8rem;
  }
  .order-food-price{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0!important;
    letter-spacing: 1px;
  }
  .order-food-quantity{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0!important;
    letter-spacing: 1px;
  }
